@font-face {
    font-family: NeueHaas;
    src: url("./Font/NeueHaasDisplayMedium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: NeueHaas;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative; /* good practice */
    padding: 0 2.5vw;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2vw 0;
}

.nav-buttons {
    display: flex;
    gap: 25px;
}

.nav-buttons h4 {
    /* font-size: 1.2rem; */
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}

.nav-buttons h4 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
    font-weight: 700;
    z-index: 9;
    position: relative;
    transition: all ease 0.5s;
}

.nav-buttons h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 80%;
    left: 0;
    bottom: -100%;
    transition: all ease 0.5s;
}

.nav-buttons h4:hover::after {
    bottom: 0%;
    border-radius: 0%;
}

.nav-buttons h4:hover a {
    color: white;
}

.page1 .content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* padding: 0 2vw; */
    height: 79vh;
    width: 100%;
    /* background-color: red; */
    border-bottom: 1px solid black;
    padding-bottom: 5vw;
}

.page1 .content .left-section h3 {
    width: 28vw;
    font-size: 2vw;
    /* line-height: 2vw; */
}

.page1 .content .right-section h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

.page1 video {
    position: relative;
    width: 100%;
    margin-top: 3vw;
    border-radius: 30px;
}

/* will work as a wrapper for our design */
.hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    top: 80vh;
    right: 0;
}

.hero-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FE390F;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
}

.hero-2 {
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE390F, #fe5b0f);
    /* background-color: #FE390F; */
    border-radius: 50%;
    filter: blur(25px);
    animation-name: animation-2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

}
.hero-3 {
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE390F, #fe5b0f);
    /* background-color: #FE390F; */
    border-radius: 50%;
    filter: blur(25px);
    animation-name: animation-1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes animation-1 {
    from{
        transform: translate(0%, 10%);
    }
    
    to{
        transform: translate(50%, -10%);
    }     
}
@keyframes animation-2 {
    from{
        transform: translate(40%, 10%);
    }
    
    to{
        transform: translate(0%, -10%);
    }     
}

.page2 {
    min-height: 100vh;
    width: 100%;
    padding: 7vw 0;
    background-color: #EFEAE3;
}

.moving-text{
    overflow-x: auto;
    white-space: nowrap;
}

.moving-text::-webkit-scrollbar {
    display: none;
}

.circle {
    height: 3vw;
    width: 3vw;
    margin: 1vw 2vw;
    background-color: #FE390F;
    border-radius: 50%;
    display: inline-block;
}

.moving-text h1 {
    font-size: 8vw;
    display: inline-block;
}

.text {
    white-space: nowrap;
    display: inline-block;
    animation-name: scroll-loop;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll-loop {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}
