@font-face {
    font-family: NeueHaas;
    src: url("./font/NeueHaasDisplayMedium.ttf");
}

@font-face {
    font-family: NeueHaas;
    src: url("./font/NeueHaasDisplayLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: NeueHaas;
    src: url("./font/NeueHaasDisplayThin.ttf");
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: NeueHaas;
}

.main {
    z-index: 10;
    position: relative;
}
.page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative; /* good practice */
    padding: 0 2.5vw;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2vw 0;
}

.nav-buttons {
    display: flex;
    gap: 25px;
}

.nav-buttons h4 {
    /* font-size: 1.2rem; */
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}

.nav-buttons h4 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
    font-weight: 700;
    z-index: 9;
    position: relative;
    transition: all ease 0.5s;
}

.nav-buttons h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 80%;
    left: 0;
    bottom: -100%;
    transition: all ease 0.5s;
}

.nav-buttons h4:hover::after {
    bottom: 0%;
    border-radius: 0%;
}

.nav-buttons h4:hover a {
    color: white;
}

.page1 .content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* padding: 0 2vw; */
    height: 79vh;
    width: 100%;
    /* background-color: red; */
    border-bottom: 1px solid black;
    padding-bottom: 5vw;
}

.page1 .content .left-section h3 {
    width: 28vw;
    font-size: 2vw;
    /* line-height: 2vw; */
}

.page1 .content .right-section h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

.page1 video {
    position: relative;
    width: 100%;
    margin-top: 3vw;
    border-radius: 30px;
}

/* will work as a wrapper for our design */
.hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    top: 80vh;
    right: 0;
}

.hero-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FE390F;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
}

.hero-2 {
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE390F, #fe5b0f);
    /* background-color: #FE390F; */
    border-radius: 50%;
    filter: blur(25px);
    animation-name: animation-2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

}
.hero-3 {
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE390F, #fe5b0f);
    /* background-color: #FE390F; */
    border-radius: 50%;
    filter: blur(25px);
    animation-name: animation-1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes animation-1 {
    from{
        transform: translate(0%, 10%);
    }
    
    to{
        transform: translate(50%, -10%);
    }     
}
@keyframes animation-2 {
    from{
        transform: translate(40%, 10%);
    }
    
    to{
        transform: translate(0%, -10%);
    }     
}

.page2 {
    min-height: 100vh;
    width: 100%;
    padding: 7vw 0;
    background-color: #EFEAE3;
    /* position: relative; */
}

.moving-text{
    overflow-x: auto;
    white-space: nowrap;
}

.moving-text::-webkit-scrollbar {
    display: none;
}

.circle {
    height: 3vw;
    width: 3vw;
    margin: 1vw 2vw;
    background-color: #FE390F;
    border-radius: 50%;
    display: inline-block;
}

.moving-text h1 {
    font-size: 8vw;
    display: inline-block;
}

.text {
    white-space: nowrap;
    display: inline-block;
    animation-name: scroll-loop;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll-loop {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

.page2 .content {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    padding: 5vw 6vw;
    position: relative;
    /* background-color: aquamarine; */
}

.page2 .content .left-section {
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 11;
}

.page2 .content .left-section h1 {
    font-size: 4vw;
    line-height: 4vw;
}

.page2 .content .right-section p {
    font-weight: 200;
    font-size: 0.9vw;
}

.page2 .content .right-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 22%;
}

.page2 .content .right-section img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 3vw;
}

.bg-circle {
    position: absolute;
    height: 30vw;
    width: 30vw;
    /* background-color: #FE390F; */
    background: radial-gradient(#FE390F 30%, #fe820f 100%);
    top: 50%;
    left: 25%;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: bg-circle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes bg-circle {
    from {
        filter: blur(25px);
        transform: translate(10%, -10%) skew(-5deg);
    }
    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(5deg);
    }
}

.page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

.page3-heading {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3vw 2vw;
}

.page3-heading h1 {
    font-weight: 200;
    font-size: 1.2vw;
}

.bullet {
    height: 0.5vw;
    width: 0.5vw;
    background-color: #FE390F;
    border-radius: 50%;
}

.page3 .row-content .element{
    display: flex;
    align-items: center;
    height: 8vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgba(94, 94, 94, 0.432);
    /* background-color: #FE390F; */
}

.page3 .row-content .element h2{
    font-size: 3vw;
    padding: 0 2vw;
    position: relative;
    z-index: 11;
}

.page3 .row-content .element .element-overlay{
    height: 100%;
    width: 100%;  
    top: -100%;
    position: absolute;
    background-color: #FF9831;  
    transition: all ease 0.3s;
}

.page3 .row-content .element:hover .element-overlay{
    top: 0;
}

#fixed-element-image {
    position: fixed;
    height: 29vw;
    width: 25vw;
    /* background-color: red; */
    border-radius: 20px;
    top: 25%;
    left: 50%;
    z-index: 20;
    background-size: cover;
    background-position: center;
    display: none;
}

.page3 button {
    padding: .5vw .9vw;
    border-radius: 30px;
    font-size: 0.8vw;
    border: 1px solid rgba(70, 69, 69, 0.582);
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 2vw;
    background-color: #EFEAE3;
    font-weight: bolder;
    letter-spacing: -1px;
}

.page4 {
    height: 100vh;
    width: 100%;
}


footer {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: #EFEAE3;
    z-index: 9;
    bottom: 0;
}

footer .upper-section {
    height: 50vh;
    padding: 6vw 6vw;
    display: flex;
    justify-content: space-between;
}
footer .upper-section h2 {
    font-size: 2vw;
}
footer .upper-section .footer-mail {
    width: 30%;
}
footer .upper-section .footer-mail p {
    width: 70%;
    font-size: 1.3vw;
    font-weight: 200;
}

#footer-mail::placeholder {
    background-color: transparent;
    color: #DAB5A5;
    font-size: 1vw;
    /* padding: 5vw 5vw; */
    width: 100%;
}

.footer-mail input{
    background-color: transparent;
    margin-top: 1.5vw;
    padding: 1vw;
    width: 100%;
    /* box-shadow: none; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D9B9AA);
}

footer .lower-section {
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 1vw 2vw;
}

footer .lower-section .brand h1 {
    font-size: 23vw;
    line-height: 19vw;
    margin-bottom: 1.5vw;
    text-align: center;
    border-bottom: 1px solid #EFEAE3;
    /* display: inline-block; */
}

footer .lower-section .footer-socials {
    display: flex;
    justify-content: space-between;
}